<% if current_user != @profile_owner %>

    <div class="container">
        <h5 id="lime">Profile Views: <%= @profile_owner.view %></h5>
        <h1 id="cyan_blue">Welcome <%= current_user.name %> to <%= @profile_owner.name %>'s profile</h1>

        <% if @profile_owner.view > 70 %>
            <h4>Did you know <%=@profile_owner.name %> is pretty popular out here!</h4>
        <% end  %>

        <p>
        <% if @profile_owner.commented_posts.count == 0 %>
            <%= @profile_owner.name %> doesnot have any commented posts.<p>

        <% else %>
            <h4><%= @profile_owner.name %>'s commented posts:</h4>
            <% @profile_owner.commented_posts.distinct.each do |post| %>
                <ul>
                    <h5><li> <%= link_to post.content, user_post_path(@profile_owner,post) %></li></h5>
                </ul>
            <% end  %>

        <% end %>


        <% if @profile_owner.posts.count >= 1 %>

            Here are posts <%= @profile_owner.name %> created:
            <%@profile_owner.posts.each do |post| %>
            <ul>
                <li><h5><%= link_to post.content, user_post_path(@profile_owner,post) %></h5></li>
            </ul>
            <% end  %>

        <% else %>
            <h5><%= @profile_owner.name %> doesnot have a post yet</h5>
        <% end  %>



         </h3>

    </div>

<% else %>



    <div class="container">
        <h5>Profile Views: <%= @current_user.view %></h5>
        <h1>Welcome <%= current_user.email %></h1>
        <% if current_user.view > 30 %>
            <h4>Did you know <%=current_user.name %>, you are a big deal out here.Congrats!</h4>
        <% end  %>

        <h6>Posts that you commented on : </h6><p>
        <% @profile_owner.commented_posts.distinct.each do |post| %>
            <ul>
                <li><%= link_to post.content, user_post_path(@profile_owner, post)   %></li>
            </ul>
        <% end  %>

        <% if !current_user.posts.nil? %>
            <h6>Posts that you created<h6>
            <%current_user.posts.each do |post| %>
                <ul>
                    <li><h5><%= link_to post.content, user_post_path(current_user,post) %></h5></li>
                </ul>
            <% end  %>

        <% else %>
            <h5>You currently don't have any post yet </h5>

        <% end %>

        <br />
    </div>


<% end  %>
