
<div class="comment">
    <h1><%= @post.content %></h1>
</div>
<h6> <%=@post.created_at.to_datetime.strftime("%A, %b %d at %I:%M%p")%>
 by <%= @post_owner.name %></h6> <br />

<h3>Comments</h3>

<% if @post.post_comments.count == 0 %>
    <h5>There are no comments for this post yet. Wana be first? </h5>

<% else %>

    <% @post.post_comments.each do |comment| %>
        <div class="post-comment">
            <h5><%= link_to comment.body, user_post_comment_path(comment.user,comment) %>-------------
            <%= comment.username %></h5>
        </div>
        <br />
    <% end %>


<% end %>


<br/>




<% if @post_owner == current_user %>

    <%= link_to "Edit", edit_user_post_path(@user,@post),:class => 'btn btn-primary' %>&nbsp;&nbsp;&nbsp;

    <%= link_to "Delete", user_post_path(@user, @post), method: :delete, data: {confirm: 'Are you 200% sure?'},:class => 'btn btn-danger' %> <br /><br />





<% end  %>


<br/>

<h2 id="red"> <%= flash[:error] %> </h2>

<%= form_for @post.post_comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>

    <p>
        <%= f.label :username, "Display Name" %>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :body, "Your comment" %>
        <%= f.text_area :body, class: "wide-text-area"  %>
    </p>


    <%= f.submit  ({:class => 'btn btn-primary'})%>

<% end %>
