<!DOCTYPE html>
<html>
  <head>
    <title>ProducersBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

    <style>




       .post {
        background-color: greenyellow;
        color: black;
        margin: 2px;
        padding: 20px;
        display: inline-block

      }

      .comment {
        background-color: darkgrey;
        color: white;
        margin: 2px;
        padding: 20px;
        display: inline-block

      }

      .post-comment {
        background-color: cyan;
        color: black;
        margin: 2px;
        padding: 20px;
        display: inline-block

      }

      .wide-text-area{
        width:100%;
      }

      #lime { color: #2EEC08; }

      #cyan_blue { color: #08ECE1 }

      #blue { color: #088BEC }

      #light_green { color: #30FB03 }

      #brown { color: #FC7F03 }

      #red { color: #FC0303 }

      .field_with_errors {
          @extend .control-group;
          @extend .error;

          display: inline-block;
      }

    </style>


    <br />
    <br />
    <br />
    <br />



    <body>
        <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">

            <a href="." class="close">&times;</a>
          </div>
        <% end %>
    <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
  </script>
    <div class="wrapper">


        <div class="container">
          <p><%= render 'layouts/messages' %><p>

          <%= yield %>

        </div>
          </body>
          <footer>
            <%= render 'layouts/nav' %>
        <div class="container">
            <small>&copy; 2020 <strong>Producer-blog</strong></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%=Time.parse((Time.new-100).to_s).strftime("%A, %b %d")%> Pacific Daylight Time<br>
            <body onload="startTime()"><br>
            Time : <div id="txt" ></div>

          </div>
    </div>
  </footer>
</html>
